<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_cadastro.css') }}">
    <title>Cadastro</title>
</head>
<body>
    <p>Digite seu nome: </p>
    <input type="text">
    <p>Digite seu sobrenome: </p>
    <input type="text">
    <p>Crie uma senha: </p>
    <input type="password" name="senha" id="senha">
    <button class="btn2">Cadastro</button>
</body>
</html>